body 
{
    font-family: Tahoma, sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    color: darkmagenta;
    background-color: #DAB6FC;
}

header 
{
    font-family: Tahoma, sans-serif;
    text-align: center;
    color: #7B2CBF;
}

p
{
   margin-left: 0px;
   margin-right: 0px;
}

footer {
    text-align: center;
    margin-top: 25px;
    padding: 5px;
    color: #DAB6FC;
    background-color: #7B2CBF;
}

figure, h2
{
    text-align: center;
}
h3 {
    text-decoration:underline;
    text-align: center;
}
.homeh3 
{
    text-decoration:none;
}

figcaption
{
    font-style: italic;
    
}

.figcaption1
{
    font-style: italic;
    left: 200px;
}

nav 
{
    background-color: #7B2CBF;
    padding: 5px;
}

nav li 
{
    display: inline;
    color: #DAB6FC;  
}

.slide-show-images{
    display: none;

}

.p-slide-show{
  display:flex;
  align-content:center;
  margin-left: 27%;
}

a
{
    text-decoration: none;
    color:antiquewhite;
}

a:hover
{
    text-decoration: underline;
    color: mintcream;
}

.dropdown
{  
    position: relative;
    display: inline-block;
}

.dropdownbutton 
{
    background-color: #7B2CBF;
    color: antiquewhite;
    font-size: inherit;
    border: none;
}

.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #7B2CBF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdowncontent a
{
    color: blanchedalmond;
    display: block;
}

.dropdowncontent a:hover 
{
    color: mintcream;
}

.dropdown:hover .dropdowncontent
{
    
    display: block;
}

.dropdown:hover .dropdownbutton
{
    background-color: #7B2CBF;
}

.calcbutton {
    background-color: #B5179E;
    color: #DAB6FC;
}

th, td 
{
    border: 1px solid black;

}

table 
{
    position: relative;
    border-spacing: 0px;
}

table tr:nth-child(odd) 
{
    background-color: #7B2CBF;
    color: #DAB6FC;
}

.buttoncolor 
{
    background-color: #7B2CBF;
    color: #DAB6FC;
}


form 
{   
    
    margin:auto;
    width: 30%;
    padding:10px;
    background-color: #B5179E;
    color: #DAB6FC;
}

.formbutton
{
    text-align: center;
}
.polyClass {
    margin: 20px;
    border-color: #DAB6FC;
    
}
.polyButton
{
    text-align: center;
    background-color:  #7B2CBF;
    color: blanchedalmond;
}

.calculator
{
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0,0,0,0.15);
    margin-left:auto;
    margin-right:auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;

}

.calculator_display 
{
    background-color: #7B2CBF;
    color: #DAB6FC;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
}

.calculator_keys 
{

    background-color: blanchedalmond;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}


.calculator_keys > * 
{
    background-color: blanchedalmond;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;

}

.calculator_keys > *:active::before, 
.calculator_keys > .is-depressed::before 
{

    background-color: palegoldenrod;
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.key-operator 
{
    background-color: #B5179E;
   

}

.key-equal 
{
    background-image: linear-gradient(to bottom, blanchedalmond, palegoldenrod);
    grid-column: -2;
    grid-row: 2 / span 4;
}

/***slideshow*/

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.my-beach-slides
{
    display: none;
}

.previous, .next
{
    cursor: pointer;
    position:absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next
{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover
{
    background-color: rgba(0, 0, 0, 0.8);
}

.caption-text
{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbered-slideshow
{
    color:#f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.click-circles
{
    text-align: center;
}

.slideshow-circle
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .slideshow-circle:hover
{
    background-color: #717171;
}

.beachSlide{
    width: 100%;
    height: 100%;
}

.fade 
{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade
{
    from {opacity: .4}
    to{opacity: 1}
}

@media screen and (min-width: 1200px)
and (max-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1)
{
    .slideshow-container{
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .my-beach-slides
    {
        display: none;
    }

    .previous, .next
    {
        cursor: pointer;
        position:absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6 ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next
    {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .previous:hover, .next:hover
    {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .caption-text
    {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    .numbered-slideshow
    {
        color:#f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    .click-circles
    {
        text-align: center;
    }

    .slideshow-circle
    {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .slideshow-circle:hover
    {
        background-color: #717171;
    }

    .beachSlide{
        width: 100%
    }

    .fade 
    {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade
    {
        from {opacity: .4}
        to{opacity: 1}
    }
}