body {
    font-family: Tahoma, sans-serif;
    overflow:hidden;
    color: #8187DC;
    background-color: #DAB6FC;
}

nav {
    background-color: #7B2CBF;
   
    
}

.par {
    position: relative;
    right: -500px;
    bottom: -100px;
}

.par2 {
    position: relative;
    bottom: 250px;
    right: -800px;
   
}



.par6 {
    position: absolute;
    right: 900px;
}


.par8 {
    position: relative;
    bottom: -50px;
    right: -850px;
}


.par10 {
    position: relative;
    bottom:-150px;
}

.par12 {
    position: relative;
    right: -800px;
    bottom: -100px;
    margin: 0;
    padding: 0;
}

.par13 {
    position: relative;
    right: -650px;
    bottom: -100px;
    margin: 0;
    padding: 0;
}

.par14 {
    position: relative;
    bottom: -50px;
    right: -800px;
}

img {
    position: relative;
    right: -600px;
    bottom: -150px;
    width: 600px;
    height: 300px;
    
}


.image {
    position: relative;
    right: 230px;
    bottom: -70px;
    height: 50px;
    width: 100px;
    margin: 0;
    padding: 0;
}

.image a {
    position: relative;
    right: 330px;
    bottom: -70px;
    height: 50px;
    width: 100px;
    margin: 0;
    padding: 0;
}

div.absolute{
   position: relative; 
   right: -800px;
   bottom: -550px;
    
}

footer {
    position: relative;
    right: -800px;
    bottom: -100px;
}

.footer1 {
    position: relative;
    right: -800px;
    bottom: -500px;
}

.footer2 {
    position: relative;
    right: 700px;
    bottom: -1px;
}

.footer3 {
    position: relative;
    right: 350px;
    bottom: -1px;
}


.topnav a:hover {
    background-color: #B5179E;
}

.topnav a.active {
    background-color: #B5179E;
    color: white;
}

nav li {
    display: inline;
    color: #DAB6FC;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #DAB6FC;

}


header {
    font-family: Tahoma, sans-serif;
    text-align: center;
    color: #7B2CBF;
}
