body {
    font-family: Tahoma, sans-serif;
    overflow:hidden;
    color: #8187DC;
    background-color: #DAB6FC;
}

.italized{
    font-style: italic;
}

.bolded{
    font-weight: bold;
   
}

nav {
    background-color: #7B2CBF;
   
    
}

.par {
    position: relative;
    right: -500px;
    bottom: -100px;
}

.par2 {
    position: relative;
    bottom: 250px;
    right: -850px;
   
}


.par8 {
    position: relative;
    bottom: -50px;
    right: -850px;
}

.par9 {
    position: relative;
    bottom: -50px;
    right: -900px;
}


.par10 {
    position: relative;
    bottom:-150px;
}

.par11 {
    position: relative;
    bottom: -50px;
}


img {
    position: relative;
    right: -600px;
    bottom: -150px;
    width: 600px;
    height: 300px;
    
}


.image {
    position: relative;
    right: 230px;
    bottom: -70px;
    height: 50px;
    width: 100px;
    margin: 0;
    padding: 0;
}

.imageb {
    position: relative;
    right: -710px;
    bottom: -50px;
    width: 300px;
    height: 300px;
}

.figcaption1 {
    position: relative;
    right: -840px;
    bottom: -50px;
    font-style:italic;
}

.figcaption2 {
    position: relative;
    right: -800px;
    bottom: -150px;
    font-style: italic;
}


div.absolute{
   position: relative; 
   right: -800px;
   bottom: -550px;
    
}

footer {
    position: relative;
    right: -800px;
    bottom: -150px;
}

.footer1 {
    position: relative;
    color: #7B2CBF;
    right: -450px;
    bottom: -150px;
}

.topnav a:hover {
    background-color: #B5179E;
}

.topnav a.active {
    background-color: #B5179E;
    color: white;
}

nav li {
    display: inline;
    color: #DAB6FC;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #DAB6FC;

}


header {
    font-family: Tahoma, sans-serif;
    text-align: center;
    color: #7B2CBF;
}
