body {
    font-family: Tahoma, sans-serif;
    color: #8187DC;
    background-color: #CBB2FE;
}

nav {
    background-color: #7B2CBF;
}

nav li {
    display: inline;
    margin: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


header {
    font-family: Courier, serif;
    text-align: center;
    color: #757BC8;
}
