body 
{
    font-family: Tahoma, sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    color: #8187DC;
    background-color: #DAB6FC;
}

header 
{
    font-family: Tahoma, sans-serif;
    text-align: center;
    color: #7B2CBF;
}

footer 
{
    text-align: center;
    margin-top: 25px;
    color: #DAB6FC;
    
}


figure, h2{
    text-align: center;
}

figcaption
{
    font-style: italic;

}


nav 
{
    background-color: #7B2CBF;
    padding: 5px;

}

nav li 
{
    display: inline;
    
    color: #DAB6FC;  
}



a
{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
    text-decoration: underline;
    color: red;
}

 th, td 
 {
    border: 1px solid black;
   
    
}

table 
{
    position: relative;
    border-spacing: 0px;
}

.table1
{
    position: relative;
    left: -40px;
}

table tr:nth-child(odd) 
{
    background-color: #7B2CBF;
    color: #DAB6FC;
}

.buttoncolor 
{
    background-color: #7B2CBF;
    color: #DAB6FC;
}

form 
{
    width: 50%;
    padding:10px;
    background-color: #B5179E;
    color: #DAB6FC;
}
