body {
    font-family: Tahoma, sans-serif;
    color: #8187DC;
    background-color: #DAB6FC;
}

nav {
    background-color: #7B2CBF;
   
    
}

img{
    position: absolute;
    right: 700px;
    bottom: 400px;
    width: 600px;
    height: 300px;
}

.par{
    position: absolute;
    right: 550px;
    bottom: 360px;
}
.par1 {
    position: absolute;
    right: 935px;
    bottom: 300px;
}

.par2 {
    position: absolute;
    right: 850px;
}

div.absolute{
   position: relative; 
   right: -800px;
   bottom: -550px;
    
}

footer {
    position: relative;
    right: -800px;
    bottom: -600px;
}

.topnav a:hover {
    background-color: #B5179E;
}

.topnav a.active {
    background-color: #B5179E;
    color: white;
}

nav li {
    display: inline;
    color: #DAB6FC;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a{
    color: #DAB6FC;

}


header {
    font-family: Courier, serif;
    text-align: center;
    color: #7B2CBF;
}
