body {
    font-family: Tahoma, sans-serif;
    color: #8187DC;
    background-color: #CBB2FE;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


header {
    font-family: Courier, serif;
    text-align: center;
    color: #757BC8;
}
