*
{
    margin: 0;
    padding: 0;
}
body
{
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background: linear-gradient(to right, white 0%, white 50%, black 50%, black 100%);
}




header
{
    font-family: 'Julius Sans One', sans-serif;
    display: flex;
    padding: 15px 10%;
    text-transform: uppercase;
    
}

body h2 
{
    padding: 15px 10%;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

 h1 
{
    font-weight: lighter;
    position:absolute;
    left: 5%;
}


header h1 a
{
    text-decoration: none;
    color: black;
}

nav 
{
    text-transform: uppercase;
    font-size: larger;
    margin-left: auto;
    margin-right: 24%;
}

nav a 
{
    text-decoration: none;
    color: black;
}

nav a:hover
{
    color: lightgrey;
}

nav li
{ 
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.rightnav a
{
    color: white;
}


div
{

    position: absolute;
    transition: transform .2s ease 0s;
    display: block;
    right: 70%;
    bottom: 27%;
    width: 150px;
    height: 350px;
    background-image: url("../projects/project_images/chessboardking.jpg");
    background-position:center;
}

div:hover
{
    overflow:hidden;
    transform: scale(1.5);
}

.queendiv {
    right: 62%;
    width: 150px;
    height: 350px;
    background-image: url("../projects/project_images/chessboardqueen.jpg");
}
img 
{
    max-width: auto;
    max-height: auto;
    position: absolute;
    object-fit: contain;
    display: block;
    bottom: 0%;
    left: 30%;
}




