
body
{
    height: 100px;
    margin-left: 150px;
    margin-right: 150px;
    background: linear-gradient(to right, white 0%, white 50%, black 50%, black 100%);
}


header
{
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-size: medium;
    font-weight: normal;
}

h1{
    position: absolute;
    bottom: 92%;
}


nav {
    font-family: 'Julius Sans One', sans-serif;
    position: absolute;
    top: 0.5%;
    right: 50%;
    text-transform: uppercase;
    font-weight: normal;
    font-size: larger;
}

nav ul
{
    display: block;

}

nav li
{  
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 5px;
}

.rightnav
{
    position: absolute;
    top: 0.5%;
    right: 32%;
    color:white;

}

div
{

    position: absolute;
    transition: transform .2s;
    display: block;
    right: 70%;
    bottom: 32%;
    width: 150px;
    height: 350px;
    background-image: url("../projects/project_images/chessboardking.jpg");
    background-position:center;
}

div:hover
{
    overflow:hidden;
    transform: scale(1.5);
}

.queendiv {
    right: 62%;
    bottom: 32%;
    width: 150px;
    height: 350px;
    background-image: url("../projects/project_images/chessboardqueen.jpg");
}
img 
{
    max-width: auto;
    max-height: auto;
    position: absolute;
    object-fit: contain;
    display: block;
    bottom: 0%;
    left: 30%;
}




