*
{
    margin: 0;
    padding: 0;
}
body
{
    height: 100px;
    background: linear-gradient(to right, white 0%, white 50%, black 50%, black 100%);
}



header
{
    font-family: 'Julius Sans One', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 26%;
    align-items: center;
    text-transform: uppercase;
    
}

body h2 
{
    padding: 15px 10%;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

 h1 
{
    font-weight: lighter;
    
   
}


header h1 a
{
    text-decoration: none;
    color: black;
}

nav 
{
    text-transform: uppercase;
    font-size: larger;
    
}

nav a 
{
    text-decoration: none;
    color: black;
}

nav a:hover
{
    color: lightgrey;
}

nav ul
{
  

}

nav li
{ 
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.rightnav a
{
    color: white;
}


div
{

    position: absolute;
    transition: transform .2s ease 0s;
    display: block;
    right: 70%;
    bottom: 27%;
    width: 10%;
    height: 46%;
    background-image: url("../projects/project_images/chessboardking.jpg");
    background-position:center;
}

div:hover
{
    overflow:hidden;
    transform: scale(1.5);
}

.queendiv {
    right: 60%;
    background-image: url("../projects/project_images/chessboardqueen.jpg");
}
img 
{
    max-width: auto;
    max-height: auto;
    position: absolute;
    object-fit: contain;
    display: block;
    bottom: 0%;
    left: 30%;
}




