/* background image */
html {
  width: 100%;
  height: 100%;
  background-image: url("../images/candle-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* top heading */

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}

h1 {
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    color: antiquewhite;
}

/* font size */
body {
  font-size: 16px;
  text-align: center;
}

/* table format*/
td,
th {
  border: 1px solid black;

  padding: 8px;
  background-color:#262626;
  color:powderblue;
  text-align: left;
  
}

th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color:#262626;
 
  color:antiquewhite;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

/* form */
form {
    margin-left: auto;
    margin-right: auto;
    text-align:justify;
    padding: 5px;
    display: inline-block;
    background-color: #262626;
    color: antiquewhite;
}


.formsubmit {
    background-color:darkslategray;
    color: antiquewhite;
}


/* footer bottom of page*/
footer {
   
    text-align: center;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-top: 10px;
}

abbr {
  text-decoration: none;

}

/* whitespace */
.whitespace {
  padding: 10px;
}

.whitespace2 {
  padding: 60px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


