h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    height: 80vh;
    
}

.box{
    font-size: 30px;
    color:black;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    flex-basis: 50%;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.colored-box-1{
    background-color: aqua;
}
.colored-box-2{
    background-color:blueviolet;
}
.colored-box-3{
    background-color:blue;
    
}
.colored-box-4{
    background-color:chartreuse;
}
.colored-box-5{
    background-color:rgb(146, 199, 199);
}
.colored-box-6{
    background-color:rgb(163, 187, 97);
}
.colored-box-7{
    background-color:rgb(189, 31, 136);
}
.colored-box-8{
    background-color:rgb(196, 13, 44);
}
.colored-box-9{
    background-color:rgb(218, 116, 22);
}
