*
{
    margin: 0;
    padding: 0;
}

 /*************************************************header and nav bar***************************************************************/


body {
    height: 100px;
    font-family: 'Julius Sans One', sans-serif;
    background: linear-gradient(to right, white 0%, white 50%, black 0%, black 100%);
}


header {
   
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(74, 72, 72, 0.5);
    animation: fadein 2s ease-in;
}

h1 {
    font-weight: lighter;
}


h2 {
    position: absolute;
    padding: 5% 5%;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
}


h3 {
    position: absolute;
    padding: 10% 5%;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin-left: 5%;
}

.navbar-header 
{
    margin-left: 3%;

}

.famous-navbar-header {
    margin-left: 2.5%;
}



a 
{
    text-decoration: none;
    color: black;
}


li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}


li a:hover{
    color: lightgray;
}


.navbar-left 
{
    color: black;
    font-size: large;
}

.navbar-right
{
    color: white;
    font-size:large;
}

 /************************************************History, Famous chess players info, etc goes here************************************************/





.famous-h2
{
    padding: 5% 1%;
}



.famous-h3 {
    position: absolute;
    padding: 28% 5%;
    font-weight: bold;
    text-transform: uppercase;
}

.stratagies-h3 
{
    position: absolute;
    padding: 10% 5%;
    right: 34%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}


.p-history-info 
{
    position: absolute;
    top: 25%;
    inline-size: 600px;
    overflow-wrap: break-word;
    font-size: large;
}

.p-famous-info 
{
    position: absolute;
    top: 30%;
    inline-size: 600px;
    overflow-wrap: break-word;
    font-size: large;
}

.p-second-famous-info {
    position: absolute;
    top: 68%;
    inline-size: 600px;
    overflow-wrap: break-word;
    font-size: large;
}


.p-stratagy-info 
{
    position: absolute;
    top: 30%;
    inline-size: 600px;
    overflow-wrap: break-word;
    font-size: large;
}

.p-second-stratagy-info 
{
    position: absolute;
    top: 30%;
    right: 0%;
    color: white;
    inline-size: 700px;
    overflow-wrap: break-word;
    font-size: large;
}

p a:hover
{
    color: lightgray
}

.history-info-image
{
    position:absolute;
    top: 25%;
    right: 2%;
}

.famous-info-image {
    position: absolute;
    top: 25%;
    right: 18%;
}

.second-famous-info-image {
    position: absolute;
    top: 68%;
    right: 18%;
}

.info-image-caption 
{
    color: white;
    text-align: center;
}

.famous-info-image-border 
{
    border: 2px solid;
    border-color: white;
}




  /************************************************Chess home images************************************************************/

.landing-page-chess {
    margin-top: 16%;
    margin-left: 18%;
    animation: fadein 2s ease-in;
}




.knightdiv 
{
    margin-left: 5%;
    animation: fadein 2s ease-in;
}





img.kingdiv:hover 
{
    animation: fadeinhover 1s ease-out;
}

img.queendiv:hover 
{
    animation: fadeinhover 1s ease-out;
}

img.bishopdiv:hover {
    animation: fadeinhover 1s ease-out;
}

img.knightdiv:hover {
    animation: fadeinhover 1s ease-out;
}

img.castlediv:hover {
    animation: fadeinhover 1s ease-out;
}

img.pawndiv:hover {
    animation: fadeinhover 1s ease-out;
}



 /*******************************************Chess piece modal*******************************************************/

.modalbackground {
    display: none;
    z-index: 1;
    position:fixed;
    top: 0%;
    left: 0;
    right: 0;
    overflow:auto;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7));
}

.close-modal-button
{
position:absolute;
top: 20%;
height: 4%;
margin-left: 90%;
border-style: solid;
}

.specific-close-modal-button
{
position:absolute;
top: 25%;
height: 4%;
margin-left: 90%;
border-style: solid;
}

.specific-pawn-close-modal-button
{
position:absolute;
top: 25%;
height: 4%;
margin-left: 94%;
border-style: solid;
}

.specific-close-modal-button
{
position:absolute;
top: 25%;
height: 4%;
margin-left: 90%;
border-style: solid;
}

.king-modal-content-box 
{
  
    margin-top: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
    animation: fadeinmodal 2s ease-in;
}

.specific-chess-modal-content-box {
    margin-top: 11%;
    padding-top: 5%;
    padding-bottom: 7%;
    background-color: white;
    animation: fadeinmodal 2s ease-in;
}


.castle-modal-content-box {
    margin-top: 12%;
    padding-top: 5%;
    padding-bottom: 7%;
    background-color: white;
    animation: fadeinmodal 2s ease-in;
}


.inner-modal-content-box a:hover {
    color: lightgray;
}

.h1-modal-content-box 
{
    font-weight: 100;
    margin-left: 5%;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.p-inner-modal-content-box 
{
    inline-size: 900px;
    overflow-wrap: break-word;
    font-size: x-large;

}

.position-figure-container
{
    position:absolute;
    top: 33%;
    margin-left: 75%;
    text-align: center;
}

.position-pawn-figure-container
{
    position:absolute;
    top: 30%;
    margin-left: 75%;
    text-align: center;
}

.position-rook-figure-container 
{
    position: absolute;
    top: 28%;
    margin-left: 75%;
    text-align: center;
}

.link-span {
    color: black;
    margin-left: 5%;
    font-size: x-large;
}

.link-span-modal
{
    text-decoration: underline;
    
}

.link-span-modal:hover
{
    color:lightgrey;

}

 /*************************************************Stratagy modal***********************************************************/

.basic-concept-container
{
    position: absolute;
    top: 40%;
    height: 20%;
    width: 20%;
    margin-left: 20%;
    background-color:blue;
    border-radius: 25px;
    
}

/*************************************************media quary**************************************************************/

@media screen
and (min-width: 1200px)
and (max-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1)
{
    .navbar-header 
    {
        margin-left: 3%;
    }

    .famous-navbar-header {
        margin-left: 2.5%;
    }

    .p-history-info {
        position: absolute;
        top: 25%;
        inline-size: 600px;
        overflow-wrap: break-word;
        font-size: large;
    }

    .history-info-image {
        position: absolute;
        top: 25%;
        right: 2%;
    }

    .famous-h2 {
        padding: 5% 1%;
    }

    .famous-h3 {
        position: absolute;
        padding: 28% 5%;
        font-weight: bold;
        text-transform: uppercase;
    }

    .p-famous-info {
        position: absolute;
        top: 30%;
        inline-size: 600px;
        overflow-wrap: break-word;
        font-size: large;
    }

    .p-second-famous-info {
        position: absolute;
        top: 68%;
        inline-size: 600px;
        overflow-wrap: break-word;
        font-size: large;
    }

    .second-famous-info-image {
        position: absolute;
        top: 68%;
        right: 18%;
    }

    .stratagies-h3 
    {
    position: absolute;
    padding: 10% 5%;
    right: 34%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    }

    .p-stratagy-info 
    {
    position: absolute;
    top: 30%;
    inline-size: 600px;
    overflow-wrap: break-word;
    font-size: large;
    }

    .p-second-stratagy-info 
    {
    position: absolute;
    top: 30%;
    right: 0%;
    color: white;
    inline-size: 700px;
    overflow-wrap: break-word;
    font-size: large;
    }

    .landing-page-chess {
        margin-top: 14%;
        margin-left: 18%;
        animation: fadein 2s ease-in;
    }

    .knightdiv {
        margin-left: 5%;
        animation: fadein 2s ease-in;
    }

    .modalbackground {
        display: none;
        z-index: 1;
        position: fixed;
        top: 0%;
        left: 0;
        right: 0;
        overflow: auto;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgb(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7));
    }

    .king-modal-content-box {
        margin-top: 8%;
        padding-bottom: 5%;
        background-color: white;
        animation: fadeinmodal 2s ease-in;
    }

    .specific-chess-modal-content-box {
        margin-top: 11%;
        padding-bottom: 7%;
        background-color: white;
        animation: fadeinmodal 2s ease-in;
    }


    .castle-modal-content-box {
        margin-top: 12%;
        padding-bottom: 7%;
        background-color: white;
        animation: fadeinmodal 2s ease-in;
    }


    .inner-modal-content-box a:hover {
        color: lightgray;
    }

    .h1-modal-content-box {
        font-weight: 100;
        margin-left: 5%;
        font-size: 100px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .p-inner-modal-content-box {
        inline-size: 900px;
        overflow-wrap: break-word;
        font-size: x-large;
    }
    .close-modal-button
    {
    position:absolute;
    top: 20%;
    height: 4%;
    margin-left: 90%;
    border-style: solid;
    cursor: pointer;
    }

    .specific-close-modal-button
    {
    position:absolute;
    top: 25%;
    height: 4%;
    margin-left: 90%;
    border-style: solid;
    cursor: pointer;
    }

    .specific-rook-close-modal-button
    {
    position:absolute;
    top: 27%;
    height: 4%;
    margin-left: 90%;
    border-style: solid;
    cursor: pointer;
    }

    .position-figure-container
    {
    position:absolute;
    top: 33%;
    margin-left: 75%;
    text-align: center;
    }

    .position-pawn-figure-container
    {
    position:absolute;
    top: 30%;
    margin-left: 60%;
    text-align: center;
    }

    .position-rook-figure-container 
    {
        position: absolute;
        top: 35%;
        margin-left: 75%;
        text-align: center;
    }
}
                            
/*************************************************animations***************************************************************/



@keyframes fadein
{
    0% 
    {
        opacity: 0;
    }

    20% 
    {
        opacity: 0.2;
    }

    40% 
    {
        opacity: 1;
        
    }
    60%
    {
        opacity: 1;
    }

    80%
    {
        opacity: 1;
    }

    100% 
    {
        opacity: 1;
    }
}

@keyframes fadeinmodal 
{
    0% 
    {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
} 

@keyframes fadeinhover 
{
    0% 
    {
        opacity: 0.1;
    }

    20% 
    {
        opacity: 0.2;
    }

    40% 
    {
        opacity: 0.4;
    }

    60% 
    {
        opacity: 0.6;
    }

    80% 
    {
        opacity: 0.8;
    }

    100% 
    {
        opacity: 1;
    }
}




