*
{
    margin: 0;
    padding: 0;
}

header
{
    font-family: 'Julius Sans One', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-right: 24%;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(74, 72, 72, 0.5);
    animation: fadein 2s ease-in;
    
}

body
{
    height: 100px;
    background: linear-gradient(to right, white 0%, white 50%, black 0%, black 100%);
}


body h2 
{
    padding: 15px 10%;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

span
{
    color: white;
}

.halfcolor
{
    position: relative;
    color: white;
}

.halfcolor:before
{
    position:absolute;
    top: 0%;
    width: 30%;
    height: 50%;
    content: attr(attribute);
    color: black;
    overflow: hidden;
    
}

h1 
{
    padding-left: 5%;
    font-weight: lighter;
}


header h1 a
{
    text-decoration: none;
    color: black;
}

nav 
{
    text-transform: uppercase;
    font-size: larger;
}

nav a 
{
    text-decoration: none;
    color: black;
}

nav a:hover
{
    color: lightgrey;
}

nav li
{ 
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}

.rightnav a 
{
   
    color: white;
}

img 
{
    height: 10%;
}

/*Chess home images*/

.kingdiv {
    position: absolute;
    transition: transform .2s ease 0s;
    right: 70%;
    bottom: 27%;
    width: 8%;
    height: 46%;
    background-image: url("../project_images/chessboardking.jpg");
    background-repeat: no-repeat;
    background-position: center;
    animation: fadein 2s ease-in;
}


.queendiv {
    position: absolute;
    transition: transform .2s ease 0s;
    right: 62%;
    bottom: 25%;
    width: 8%;
    height: 46%;
    background-image: url("../project_images/chessboardqueen.jpg");
    background-repeat: no-repeat;
    background-position: center;
    animation: fadein 2s ease-in;
}

.bishopdiv {
    position: absolute;
    transition: transform .2s ease 0s;
    right: 54%;
    bottom: 25%;
    width: 8%;
    height: 46%;
    background-image: url("../project_images/chessboardbishop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    animation: fadein 2s ease-in;
}

.knightdiv {
    position: absolute;
    transition: transform .2s ease 0s;
    right: 38%;
    bottom: 23%;
    width: 8%;
    height: 46%;
    background-image: url("../project_images/chessboardknight.jpg");
    background-repeat: no-repeat;
    background-position: center;
    animation: fadein 2s ease-in;
}

.castlediv {
    position: absolute;
    transition: transform .2s ease 0s;
    right: 30%;
    bottom: 22.5%;
    width: 8%;
    height: 46%;
    background-image: url("../project_images/chessboardcastle.png");
    background-repeat: no-repeat;
    background-position: center;
    animation: fadein 2s ease-in;
}

.pawndiv {
    position: absolute;
    transition: transform .2s ease 0s;
    right: 23%;
    bottom: 20%;
    width: 8%;
    height: 46%;
    background-image: url("../project_images/chessboardpawn.png");
    background-repeat: no-repeat;
    background-position: center;
    animation: fadein 2s ease-in;
}

div.kingdiv:hover 
{
    animation: fadeinhover 1s ease-out;
}

div.queendiv:hover 
{
    animation: fadeinhover 1s ease-out;
}

div.bishopdiv:hover {
    animation: fadeinhover 1s ease-out;
}

div.knightdiv:hover {
    animation: fadeinhover 1s ease-out;
}

div.castlediv:hover {
    animation: fadeinhover 1s ease-out;
}

div.pawndiv:hover {
    animation: fadeinhover 1s ease-out;
}



/*Chess piece modal*/

.modalbackground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(to right, rgb(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7));
    
}

.modalcontentbox 
{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 14%;
    border: 2px solid;
    background-color: white;
    animation: fadeinmodal 2s ease-in;
}


@keyframes fadein
{
    0% 
    {
        opacity: 0;
    }

    20% 
    {
        opacity: 0.2;
    }

    40% 
    {
        opacity: 1;
        
    }
    60%
    {
        opacity: 1;
    }

    80%
    {
        opacity: 1;
    }

    100% 
    {
        opacity: 1;
    }
}

@keyframes fadeinmodal 
{
    0% 
    {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
} 

/*Used in chess_project.js*/


/*--------------------*/

@keyframes fadeinhover 
{
    0% 
    {
        opacity: 0.1;
    }

    20% 
    {
        opacity: 0.2;
    }

    40% 
    {
        opacity: 0.4;
    }

    60% 
    {
        opacity: 0.6;
    }

    80% 
    {
        opacity: 0.8;
    }

    100% 
    {
        opacity: 1;
    }
}




