*
{
    margin: 0;
    padding: 0;
}

header
{
    font-family: 'Julius Sans One', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 27%;
    align-items: center;
    text-transform: uppercase;
    
}

body
{
    height: 100px;
    background: linear-gradient(to right, white 0%, white 50%, black 0%, black 100%);
}


body h2 
{
    padding: 15px 10%;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

span
{
    color: white;
}

.halfcolor
{
    position: relative;
    color: white;
}

.halfcolor:before
{
    position:absolute;
    top: 0%;
    width: 30%;
    height: 50%;
    content: attr(attribute);
    color: black;
    overflow: hidden;
    
}

 h1 
{
    font-weight: lighter;

}


header h1 a
{
    text-decoration: none;
    color: black;
}

nav 
{
    text-transform: uppercase;
    font-size: larger;
}

nav a 
{
    text-decoration: none;
    color: black;
}

nav a:hover
{
    color: lightgrey;
}

nav li
{ 
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}

.rightnav a
{
    color: white;
}

/*Chess images*/

.kingdiv
{
    position: absolute;
    transition: transform .2s ease 0s;
    right: 70%;
    bottom: 27%;
    width: 8%;
    height: 46%;
    background-image: url("../project_images/chessboardking.jpg");
    background-repeat: no-repeat;
    background-position:center;
}

div:hover
{
    overflow:hidden;
    transform: scale(1.5);
}

.queendiv {
    position: absolute;
    transition: transform .2s ease 0s;
    right: 60%;
    bottom: 27%;
    width: 8%;
    height: 46%;
    background-image: url("../project_images/chessboardqueen.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
img 
{
    max-width: auto;
    max-height: auto;
    position: absolute;
    object-fit: contain;
    display: block;
    bottom: 0%;
    left: 30%;
}

/*Chess piece pages*/

.kingpopup {
    position: absolute;
    width: 8%;
    background-color: blue;
}




