*
{
    margin: 0;
    padding: 0;
}

                                                        /*************************************************header and nav bar***************************************************************/

header {
    font-family: 'Julius Sans One', sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(74, 72, 72, 0.5);
    animation: fadein 2s ease-in;
}

.navbar-header 
{
    margin-left: 3%;

}

.famous-navbar-header {
    margin-left: 2.5%;
}

h1 
{
   
    font-weight: lighter;
}

a 
{
    text-decoration: none;
    color: black;
}


li a:hover{
    color: lightgray;
}

li {
   
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
   
}

.navbar-left 
{
    color: black;
    font-size: large;
}

.navbar-right
{
    color: white;
    font-size:large;
}

                                                    /************************************************History, Famous chess players info, etc goes here************************************************/

body 
{
    height: 100px;
    font-family: 'Julius Sans One', sans-serif;
    background: linear-gradient(to right, white 0%, white 50%, black 0%, black 100%);
}

body h2 
{
    position:absolute;
    padding: 5% 5%;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Julius Sans One', sans-serif;
}

.famous-h2
{
    padding: 5% 1%;
}

h3
{
    position:absolute;
    padding: 10% 5%;
    font-weight: bold;
    text-transform: uppercase;
}

.famous-h3 {
    position: absolute;
    padding: 28% 5%;
    font-weight: bold;
    text-transform: uppercase;
}

.stratagies-h3 
{
    position: absolute;
    padding: 10% 5%;
    right: 33%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

p 
{
    margin-left: 5vw;

}


.p-history-info 
{
    position: absolute;
    top: 25%;
    inline-size: 600px;
    overflow-wrap: break-word;
    font-size: large;
}

.p-famous-info 
{
    position: absolute;
    top: 30%;
    inline-size: 600px;
    overflow-wrap: break-word;
    font-size: large;
}

.p-second-famous-info {
    position: absolute;
    top: 68%;
    inline-size: 600px;
    overflow-wrap: break-word;
    font-size: large;
}


.p-stratagy-info 
{
    position: absolute;
    top: 30%;
    inline-size: 600px;
    overflow-wrap: break-word;
    font-size: large;
}

.p-second-stratagy-info 
{
    position: absolute;
    top: 30%;
    right: 10%;
    color: white;
    inline-size: 700px;
    overflow-wrap: break-word;
    font-size: large;
}

p a:hover
{
    color: lightgray
}

.history-info-image
{
    position:absolute;
    top: 25%;
    right: 2%;
}

.famous-info-image {
    position: absolute;
    top: 25%;
    right: 18%;
}

.second-famous-info-image {
    position: absolute;
    top: 68%;
    right: 18%;
}

.info-image-caption 
{
    color: white;
    text-align: center;
}

.famous-info-image-border 
{
    border: 2px solid;
    border-color: white;
}




                                                /************************************************Chess home images************************************************************/

.landing-page-chess {
    margin-top: 16%;
    margin-left: 18%;
    animation: fadein 2s ease-in;
}




.knightdiv 
{
    margin-left: 5%;
    animation: fadein 2s ease-in;
}



@media screen
and (min-width: 1200px)
and (max-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1)
{
    .navbar-header 
    {
        margin-left: 3%;
    }

    .famous-navbar-header {
        margin-left: 2.5%;
    }

    .p-history-info {
        position: absolute;
        top: 25%;
        inline-size: 600px;
        overflow-wrap: break-word;
        font-size: large;
    }

    .history-info-image {
        position: absolute;
        top: 25%;
        right: 2%;
    }

    .famous-h2 {
        padding: 5% 1%;
    }

    .famous-h3 {
        position: absolute;
        padding: 28% 5%;
        font-weight: bold;
        text-transform: uppercase;
    }

    .p-famous-info {
        position: absolute;
        top: 30%;
        inline-size: 600px;
        overflow-wrap: break-word;
        font-size: large;
    }

    .p-second-famous-info {
        position: absolute;
        top: 68%;
        inline-size: 600px;
        overflow-wrap: break-word;
        font-size: large;
    }

    .second-famous-info-image {
        position: absolute;
        top: 68%;
        right: 18%;
    }

    .landing-page-chess {
        margin-top: 16%;
        margin-left: 18%;
        animation: fadein 2s ease-in;
    }

    .knightdiv {
        margin-left: 5%;
        animation: fadein 2s ease-in;
    }

    .modalbackground {
        display: none;
        z-index: 1;
        position: fixed;
        top: 0%;
        left: 0;
        right: 0;
        overflow: auto;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgb(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7));
    }

    .king-modal-content-box {
        margin-top: 8%;
        padding-bottom: 5%;
        background-color: white;
        animation: fadeinmodal 2s ease-in;
    }

    .specific-chess-modal-content-box {
        margin-top: 11%;
        padding-bottom: 7%;
        background-color: white;
        animation: fadeinmodal 2s ease-in;
    }


    .castle-modal-content-box {
        margin-top: 12%;
        padding-bottom: 7%;
        background-color: white;
        animation: fadeinmodal 2s ease-in;
    }


    .inner-modal-content-box a:hover {
        color: lightgray;
    }

    .h1-modal-content-box {
        font-weight: 100;
        margin-left: 5%;
        font-size: 100px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .p-inner-modal-content-box {
        inline-size: 900px;
        overflow-wrap: break-word;
        font-size: x-large;
    }

    .position-figure-container {
        position: absolute;
        top: 25%;
        margin-left: 75%;
        text-align: center;
    }

    .position-rook-figure-container {
        position: absolute;
        top: 28%;
        margin-left: 75%;
        text-align: center;
    }
   

}

img.kingdiv:hover 
{
    animation: fadeinhover 1s ease-out;
}

img.queendiv:hover 
{
    animation: fadeinhover 1s ease-out;
}

img.bishopdiv:hover {
    animation: fadeinhover 1s ease-out;
}

img.knightdiv:hover {
    animation: fadeinhover 1s ease-out;
}

img.castlediv:hover {
    animation: fadeinhover 1s ease-out;
}

img.pawndiv:hover {
    animation: fadeinhover 1s ease-out;
}



                                                             /*******************************************Chess piece modal*******************************************************/

.modalbackground {
    display: none;
    z-index: 1;
    position:fixed;
    top: 0%;
    left: 0;
    right: 0;
    overflow:auto;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7));
}

.king-modal-content-box 
{
  
    margin-top: 8%;
    padding-bottom: 5%;
    background-color: white;
    animation: fadeinmodal 2s ease-in;
}

.specific-chess-modal-content-box {
    margin-top: 11%;
    padding-bottom: 7%;
    background-color: white;
    animation: fadeinmodal 2s ease-in;
}


.castle-modal-content-box {
    margin-top: 12%;
    padding-bottom: 7%;
    background-color: white;
    animation: fadeinmodal 2s ease-in;
}


.inner-modal-content-box a:hover {
    color: lightgray;
}

.h1-modal-content-box 
{
    font-weight: 100;
    margin-left: 5%;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.p-inner-modal-content-box 
{
    inline-size: 900px;
    overflow-wrap: break-word;
    font-size: x-large;

}

.position-figure-container
{
    position:absolute;
    top: 25%;
    margin-left: 75%;
    text-align: center;
}

.position-rook-figure-container 
{
    position: absolute;
    top: 28%;
    margin-left: 75%;
    text-align: center;
}

.link-span {
    color: black;
    margin-left: 5%;
    font-size: x-large;
}

.link-span-modal
{
    text-decoration: underline;
    
}

.link-span-modal:hover
{
    color:lightgrey;
}

                                                            /*************************************************animations***************************************************************/

@keyframes fadein
{
    0% 
    {
        opacity: 0;
    }

    20% 
    {
        opacity: 0.2;
    }

    40% 
    {
        opacity: 1;
        
    }
    60%
    {
        opacity: 1;
    }

    80%
    {
        opacity: 1;
    }

    100% 
    {
        opacity: 1;
    }
}

@keyframes fadeinmodal 
{
    0% 
    {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
} 

@keyframes fadeinhover 
{
    0% 
    {
        opacity: 0.1;
    }

    20% 
    {
        opacity: 0.2;
    }

    40% 
    {
        opacity: 0.4;
    }

    60% 
    {
        opacity: 0.6;
    }

    80% 
    {
        opacity: 0.8;
    }

    100% 
    {
        opacity: 1;
    }
}




