<footer>
    <a href="https://webpages.charlotte.edu/prandol4/"><strong>Charlotte.edu</strong></a> &#339;
    <a href="https://github.com/XCaramellX"><strong>Github</strong></a> &#339;
    <a href="https://xcaramellx.github.io/"><strong>Github.io</strong></a> &#339;
    <a href="https://xcaramellx.github.io/itis3135/"><strong>ITIS 3135 Github Pages</strong></a> &#339;
    <a href="https://www.codecademy.com/profiles/ParkerRandolph"><strong>Codeacadamy</strong></a> &#339;
    <a href="https://www.freecodecamp.org/XCaraX"><strong>freeCodeCamp</strong></a> &#339;
    <a href="https://jsfiddle.net/user/Caramell/fiddles/"><strong>JSFiddle</strong></a> &#339;
    <a href="https://www.linkedin.com/in/parker-randolph-655653202/"><strong>Linkedin</strong></a> &#339;

    <p>
        <a href="randolphinc.co/index.html">Designed by Randolph Inc &copy;2022.</a>
    </p>
    <a href="https://validator.w3.org/"> <img src="images/button_validation_html5.png" alt="HTML Validation"></a>
    <a href="https://jigsaw.w3.org/css-validator/"> <img src="images/button_validation_css.png" alt="CSS Validation"></a>
</footer>