

<header>
    <h1>
        Parker Randolph  &#339; ITIS 3135  &#339; Plum Rabbit
    </h1>
    <nav>
        <ul>
            <li><a href="index.html"><strong>Home</strong></a> &#339;</li>
            <li><a href="introduction.html"><strong>Introduction</strong></a> &#339;</li>
            <li><a href="contract.html"><strong>Contract</strong></a> &#339;</li>
            <li><a href="tables.html"><strong>Tables</strong></a> &#339;</li>
            <li><a href="form.html"><strong>Form</strong></a> &#339;</li>
            <li><a href="website_evaluations.html"><strong>Website Evaluations</strong></a> &#339;</li>
            <li><a href="projects/chess_website_requirements.html"><strong>Project</strong></a></li>
            <li>
                <div class="dropdown">
                    &#339;
                    <button class="dropdownbutton"><strong>Activities</strong></button>
                    <div class="dropdowncontent">
                        <a href="firstscripts.html"><strong>My First JS</strong></a>
                        <a href="polygon.html"><strong>Polygons</strong></a>
                        <a href="calculator_try.html"><strong>Calculator Attempt</strong></a>
                        <a href="calculator_fcc.html"><strong>Actual Calculator</strong></a>
                        <a href="calculator_separation.html"><strong>Actual Calculator With Separations</strong></a>
                        <a href="arrays.html"><strong>Arrays</strong></a>
                    </div>
                </div>
             &#339;
            <li><a href="brand-plum-rabbit.html"><strong>My Brand</strong></a> &#339;</li> 
            <li><a href="stuff/NEW& PAGE.htm"><strong>CRAPPY WEBPAGE</strong></a></li>
        </ul>
    </nav>
</header>