

<header>
    <h1>
        Parker Randolph  &#339; ITIS 3135  &#339; Plum Rabbit
    </h1>
    <nav>
        <ul>
            <li><a href="index.html"><strong>Home</strong></a> &#339;</li>
            <li><a href="introduction.html"><strong>Introduction</strong></a> &#339;</li>
            <li><a href="contract.html"><strong>Contract</strong></a> &#339;</li>
            <li><a href="tables.html"><strong>Tables</strong></a> &#339;</li>
            <li><a href="form.html"><strong>Form</strong></a> &#339;</li>
            <li><a href="website_evaluations.html"><strong>Website Evaluations</strong></a> &#339;</li>
            <li><a href="projects/chess_project/index.html"><strong>Project</strong></a></li>
            <li>
                <div class="dropdown">
                    &#339;
                    <button class="dropdownbutton"><strong>Activities</strong></button>
                    <div class="dropdowncontent">
                        <a href="firstscripts.html"><strong>My First JS</strong></a>
                        <a href="activity6.html"><strong>Polygons</strong></a>
                        <a href="calculator_try.html"><strong>Calculator Attempt</strong></a>
                        <a href="calculator_fcc.html"><strong>Actual Calculator</strong></a>
                        <a href="calculator_separation.html"><strong>Actual Calculator With Separations</strong></a>
                        <a href="arrays.html"><strong>Arrays</strong></a>
                        <a href="accessibility/randolph-activity_accessibility.html"><strong>Accessibility</strong></a>
                        <a href="projects/chess_website_requirements.html"><strong>Project Requirements</strong></a>
                        <a href="slideshow.html"><strong>Slide show</strong></a>
                        <a href="activity10.html"><strong>Image Swap Application</strong></a>
                        <a href="brand-plum-rabbit.html"><strong>My Brand</strong></a>
                        <a href="stuff/NEW& PAGE.htm"><strong>CRAPPY WEBPAGE</strong></a>
                    </div>
                </div>
                &#339;
            </li>
            <li><a href="hobby/index.html"><strong>Midterm Hobby Project</strong></a></li>
        </ul>
    </nav>
</header>